
body{
    background-color: var(--darkGreen);
    margin: 0;
}

p, h1, h2, h3, h4, h5, h6 {
    color: var(--white);
}

a {
    color: var(--red);
}

.mdc-textfield--upgraded:not(.mdc-textfield--fullwidth):not(.mdc-textfield--box):not(.mdc-textfield--multiline)::after{
    background-color: var(--lightGrey);
}

#nprogress .bar {
    background: var(--red) !important;
    height: 3px !important;
}

#nprogress .peg {
    box-shadow: 0 0 10px var(--red), 0 0 5px var(--red) !important;;
}